.Homepage {
  background: url("../../assets/backgrounds/homepage_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  filter: blur(1.5px);
}

.container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  z-index: 30;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.back {
  position: absolute;
  top: 5rem;
  left: 35rem;
  color: #9c383d;
  background-color: #1b1d2a;
  border-radius: 50%;
  transition: all 0.3s ease;

  img {
    width: 4rem;
    filter: invert(98%) sepia(4%) saturate(1031%) hue-rotate(324deg) brightness(104%) contrast(85%);
  }
}
