.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
  height: 82vh;
  padding: 0 31vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

.classname {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
