.Game {
  display: flex;
  align-items: flex start;
  flex-direction: column;

  .background-gif {
    background: url("../../assets/backgrounds/game-background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -4;
  }

  .is-disabled {
    pointer-events: none;
  }
  user-select: none;

  .close-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 4rem;
    z-index: 88888;
    img {
      filter: invert(30%) sepia(40%) saturate(4503%) hue-rotate(339deg)
        brightness(81%) contrast(94%);
    }
  }
}
