.Game {
  display: flex;
  align-items: flex start;
  flex-direction: column;

  .background-gif {
    background: url("../../assets/backgrounds/game-background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -4;
  }

  .is-disabled {
    pointer-events: none;
  }
  user-select: none;

  .close-icon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    width: 3rem;
    z-index: 88888;
    img {
      filter: invert(30%) sepia(40%) saturate(4503%) hue-rotate(339deg) brightness(81%) contrast(94%);
    }
  }

  .close-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 10000;
    margin-top: -8rem;
    p {
      font-size: 1.5rem;
    }
    .confirm-btns {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(59, 50, 74, 0.7);
    backdrop-filter: blur(10px);
    z-index: 100;
  }
  .help-icon {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    z-index: 88888;
    img {
      width: 2.5rem;
    }
  }
}
