.Player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  width: 10rem;
  max-height: 30rem;
  position: absolute;
  bottom: 0;

  .player-field {
    display: flex;
    height: 9.5rem;
    gap: 1rem;

    .player-field-card {
      background: #ecece0;
      border-radius: 5px;
      padding: 0.5rem;
    }
    img {
      width: 6rem;
    }
  }

  .player-select {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-info {
    padding-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    img {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      image-rendering: pixelated;
      background-color: rgba(236, 236, 224, 0.1);
      backdrop-filter: 10px;
    }
    .card-count {
      position: absolute;
      right: -1rem;
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
      text-align: center;
      background-color: #e2b436;
      backdrop-filter: blur(10px);
      vertical-align: middle;
      font-size: 0.9rem;
      display: flex;
      text-align: center;
      justify-content: center;
      padding: 0.4rem;
      color: #3b2130;
    }
  }

  .cards-container {
    height: 9.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .player-card {
      z-index: 1;
      background: #ecece0;
      border-radius: 5px;
      padding: 0.5rem;
      box-shadow: 4px 4px 12px 2px rgba(black, 0.6);
      transition: 0.2s;
      &:not(:first-child) {
        margin-left: calc(4rem * -1);
      }

      img {
        width: 6rem;
      }
    }
    .dull {
      background: #c1c1b9;
      img {
        filter: invert(20%);
      }
    }
  }
  .highlight {
    background: #c1c1b9;
    img {
      filter: none !important;
    }
  }
}
