.Status {
  .jester-active {
    color: white;
  }

  .player-turn {
    color: white;
    font-size: 2rem;
    text-shadow: 4px 3px 0 #7a7a7a;
    color: #ffffff;
  }

  .game-over {
    color: white;
  }
  .red {
    color: #c93038;
    text-shadow: 2px 2px 0 #7a7a7a;
    text-shadow: 4px 3px 0 black;
  }
}
.game-over {
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  align-items: center;
  color: white;
}

.loser {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 15rem;
  text-align: center;
  gap: 1rem;
}
