<!-- Server Variables... -->
PORT=8080
<!-- Database Variables... -->
DB_HOST=localhost
DB_USER=labber
DB_PASSWORD=labber
DB_DATABASE=final
DB_PORT=5432
<!-- Authorization Variables... -->
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
SALT=