.Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  .deck-main {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .deckName {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
