.loading {
  position: absolute;
  left: 35vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #3b324a;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.img {
  transform: scale(0.9);
}

// .loadingText {
//   text-align: center;
//   color: whitesmoke;
// }
