.navbar {
  width: 100vw;
  height: 3rem;
  background-color: #9c383d;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;

  .avatar-container {
    .avatar-list {
      padding: 1rem 0.1rem;
      margin-left: 1rem;
      margin-top: 1rem;
      border-radius: 5px;
      background-color: rgba(156, 56, 61, 0.1);
      backdrop-filter: blur(10px);
      width: 14rem;
      min-height: 7rem;
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center;
      justify-content: center;
      img {
        border-color: #1b1d2a;
      }
    }
  }
}

.how-to-play {
  color: white;
  padding-left: 1rem;
  padding-top: 0.75rem;
}

.how-to-play:hover {
  text-decoration: none;
  color: #1b1d2a;
}

.login {
  color: white;
  padding-right: 1rem;
  padding-top: 0.75rem;
}

.login:hover {
  color: #1b1d2a;
}

.logout {
  color: white;
}

.logout:hover {
  color: #1b1d2a;
}

.user-logout {
  color: white;
  padding-right: 1rem;
  padding-top: 0.75rem;
  display: flex;
}
