.navbar {
  width: 100vw;
  height: 3rem;
  background-color: #9c383d;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.how-to-play {
  color: white;
  padding-left: 1rem;
  padding-top: 0.75rem;
}

.how-to-play:hover {
  text-decoration: none;
  color: blue;
}

.login {
  color: white;
  padding-right: 1rem;
  padding-top: 0.75rem;
}

.login:hover {
  color: blue;
}

.logout {
  color: white;
}

.logout:hover {
  color: blue;
}

.user-logout {
  color: white;
  padding-right: 1rem;
  padding-top: 0.75rem;
  display: flex;
}
