.form-login {
  position: absolute;
  top: -12rem;
  z-index: 3;
  left: 79%;
  padding: 1rem;
  width: 20%;
  background: rgb(156, 56, 61, 0.8);

  .show {
    display: block;
    animation: slideIn 1s ease;
  }
}

.nes-field {
  margin: 1rem 0;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
